<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Plagiarism Checker</title>
  <meta name="description" content="An web app built with Python, Flask">

  <meta property="og:title" content="Plagiarism Checker">
  <meta property="og:type" content="website">
  <meta property="og:description" content="An web app built with Python, Flask.">
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h1>Plagiarism Checker</h1>
  <p>Paste the text of an article into the textarea below.</p>
  <p>Then, click the Submit button to find if your content has been plagiarized!</p>

  <form id="plagiarismCheckerForm">
    <label id="articleContentLabel" for="originalContent">Original Content</label>
    <textarea id="articleContentInput" name="originalContent"></textarea>
    <div><button type="submit" id="submitButton">Submit</button></div>
  </form>

  <div id="resultsContainer" style="display: none;">
    <h2>Similar Articles</h2>
    <div id="similaritySensitivityContainer">
      <label for="sensitivity">Similarity Sensitivity: <span id="sensitivityPercentage">70</span>%</label>
      <input type="range" id="sensitivity" name="sensitivity" min="0" max="100" value="70">
    </div>
    <table>
      <thead>
        <tr>
          <th scope="col" class="titleColumn">Title</th>
          <th scope="col" class="scoreColumn">Match Score</th>
          <th scope="col" class="detailColumn">View Text</th>
          
        </tr>
      </thead>
      <tbody id="resultsTableBody"></tbody>
    </table>
    <div id="noResults">No results</div>
  </div>

  <div class="modal fade" id="detailModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Modal header</h4>
        </div>
        <div class="modal-body">
          <p>some content</p>
          <input type="text" name="text-result" value="" readonly/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
      crossorigin="anonymous"
    ></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"> 
    $(document).on('show.bs.modal','#detailModal', function(e) {
      alert('hi');
      var text = $(e.relatedTarget).data('result');
      $(e.currentTarget).find('input[name="text-result"]').val(text);
    }).modal('show'); -->
  </script>
</body>
</html>
